---
import Badge from "../Badge.astro";

import { basics } from "../../resources/cv.json";
import Section from "../Section.astro";

const { name, summary } = basics;
---

<Section class="py-30 lg:py-50 pb-20">
  <div class="flex sm:flex-row items-center gap-4">
    <img
      class="rounded-full size-30 mb-5"
      src="https://avatars.githubusercontent.com/u/60910680?v=4"
      alt="portafolio photo"
    />
    <h1 class="text-white text-5xl font-bold pb-6 flex flex-col items-start">
      <a
        href="https://www.linkedin.com/in/axelroman-dev"
        class="flex justify-center items-center pb-4"
      >
        <Badge>Disponible para trabajar</Badge>
      </a>
      Soy {name} 👋
    </h1>
  </div>

  <h2 class="text-xl lg:text-xl opacity-80 text-pretty">
    {summary}
  </h2>
</Section>
