---
import About from "../components/sections/About.astro";
import Experiences from "../components/sections/Experiences.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Portafolio de Axel Roman"
  description="Contratarme para tus proyectos mobile y backend."
>
  <main class="px-4 lg:px-6">
    <About />
    <!-- <Projects /> -->
    <Experiences />
  </main>
</Layout>
