---
const EXPERIENCE = [
  {
    title: "Desarrollador Full Stack",
    company: "Freelance",
    description:
      "Desarrollo de aplicaciones web y móviles utilizando tecnologías como Vue, Flutter, NestJS, Firebase, PostgreSQL, AWS y Docker.",
    date: "2024 - Actualmente",
  },
  {
    title: "Director de desarrollo de aplicaciones móviles",
    company: "NetRabbit",
    description:
      "Responsable de la dirección de un equipo de 3 desarrolladores móviles. Realizando desarrollo de aplicaciones móviles para clientes del Gobierno de México y otros privados. Utilizando tecnologías como Flutter, Firebase, PostgreSQL, AWS y Docker.",
    date: "2021 - 2024",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map(({ title, company, description, date }) => (
      <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700" />
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
          {date}
        </time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          {title}
        </h3>
        <p class="mb-2 text-base text-gray-900 dark:text-white opacity-80">
          {company}
        </p>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 text-pretty">
          {description}
        </p>
      </li>
    ))
  }
</ol>
