---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import IconButton from "./IconButton.astro";

const SOCIALS = [
  {
    href: "https://linkedin.com/in/axelroman-dev",
    icon: LinkedInIcon,
  },
  {
    href: "https://github.com/axelroman-dev",
    icon: GithubIcon,
  },
];
---

<header class="fixed top-0 w-full backdrop-blur-xs z-50">
  <nav class="max-w-7xl mx-auto px-2 lg:px-6">
    <div class="flex justify-between items-center h-16">
      <div class="flex-shrink-0">
        <IconButton href="/" class="mx-1 px-4 font-semibold">
          axelroman.dev
        </IconButton>
      </div>
      <div class="flex gap-x-2">
        {
          SOCIALS.map((social) => (
            <IconButton href={social.href} key={social.href}>
              <social.icon class="size-5 lg:size-6" />
            </IconButton>
          ))
        }
      </div>
    </div>
  </nav>
</header>
